<div class="content-wrapper">
  <mat-toolbar class="mat-elevation-z8">
    <span>Welcome My Portal</span>
    <span class="example-spacer"></span>
    <span (click)="logout()" class="logout">
      <mat-icon>logout</mat-icon>
      <!-- <span>Logout</span> -->
    </span>
  </mat-toolbar>
  <div class="content mat-elevation-z8">
    <router-outlet></router-outlet>
  </div>
</div>