mat-toolbar {
  background: #004a9f;
  color: white;
}

.content {
  height: fit-content;
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  color: lightgray;
}

.example-spacer {
  flex: 1 1 auto;
}

.logout {
    cursor: pointer;
    /* color: #ff002f; */
    font-size: 17px;
    font-weight: 800;
    letter-spacing: 0.7px;
}