:host {
    width: 100%;
  }
  
  .outerContent {
    color: rgb(0, 0, 0);
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
  
  section {
    text-align: center;
  }
  
  .error-div {
    padding-bottom: 10px;
    margin-top: -1em;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  
  
  .main-title {
    width: 100%;
  }
  
  .dialog-content {
    padding-top: 1em;
  }
  
  mat-dialog-container {
    height: 100vh  !important;;
    width: 100vw  !important;;
    padding: 0  !important;
    mat-dialog-content {
      height: 100%;
      max-height: 85% !important;
    }
  }
  