<mat-toolbar color="primary">
    <span class="main-title">Create User</span>
    <button (click)="closeDialog()" mat-mini-fab color="primary" class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  
  <mat-dialog-content class="dialog-content">
  
    <form [formGroup]="userForm" class="example-form" novalidate>
      <div class="row">
  
        <div class="col-12">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label> First Name </mat-label>
            <input matInput placeholder="First Name" formControlName="first_name">
          </mat-form-field>
          <div class="error-div" *ngIf="formValue.first_name.errors && (formValue.first_name.dirty || formValue.first_name.touched)">
            <mat-error *ngIf="formValue.first_name.errors.required">* First Name is required</mat-error>
          </div>
        </div>

        <div class="col-12">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label> Last Name </mat-label>
              <input matInput placeholder="Last Name" formControlName="last_name">
            </mat-form-field>
            <div class="error-div" *ngIf="formValue.last_name.errors && (formValue.last_name.dirty || formValue.last_name.touched)">
              <mat-error *ngIf="formValue.last_name.errors.required">* Last Name is required</mat-error>
            </div>
          </div>
  
        <div class="col-12">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label> Email </mat-label>
            <input matInput placeholder="Email" formControlName="email">
          </mat-form-field>
          <div class="error-div" *ngIf="formValue.email.errors && (formValue.email.dirty || formValue.email.touched)">
            <mat-error *ngIf="formValue.email.errors.required">* Email is required</mat-error>
            <mat-error *ngIf="formValue.email.errors.email">* Invalid Email</mat-error>
          </div>
        </div>

  
        <div class="col-12">
          <section>
            <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
          </section>
        </div>
  
      </div>
  
    </form>
  
  </mat-dialog-content>
  