
  @media only screen and (min-width: 768px) {
    ion-col.col {
      margin: 0 auto;
      max-width: 40%;
    }
  }

  span {
    color: white;
  }

  ion-item {
    padding-left: 10px !important;
    margin-bottom: 0px;
    background-color: #ffffff;
    opacity: 0.7;
    font-size: 0.9em;
    --background: transparent !important;
    // border-radius: 10px;
  }

  ion-list {
    background-color: transparent !important;
    margin: 0;
  }

  .login-button {
    width: 100%;
    font-size: 0.9em;
    border-radius: 10px;
  }

  .more-btn {
    font-size: 25px;
    padding-right: 5px;
  }


  ion-content {
    --background: #e8e8e8;
  }

  .error-div {
    padding-top: 0.5em;
    text-align: left;
  }