<ion-header lines="none">
  <ion-toolbar color="primary">
    <ion-title>Add User</ion-title>
    <ion-buttons (click)="closeModal()" class="more-btn" slot="end">
      <ion-icon name="close-circle"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="userForm" class="example-form" novalidate>
    <ion-row>
      <ion-col size="12">
        <ion-list inset>
          <ion-item>
            <ion-label position="floating">First Name</ion-label>
            <ion-input formControlName="first_name" required type="text"></ion-input>
          </ion-item>
          <div class="error-div"
            *ngIf="userFormValues.first_name.errors && (userFormValues.first_name.dirty || userFormValues.first_name.touched)">
            <mat-error *ngIf="userFormValues.first_name.errors.required">* First Name is required</mat-error>
          </div>
          <br>
          <ion-item>
            <ion-label position="floating">Last Name</ion-label>
            <ion-input formControlName="last_name" required type="text"></ion-input>
          </ion-item>
          <div class="error-div"
            *ngIf="userFormValues.last_name.errors && (userFormValues.last_name.dirty || userFormValues.last_name.touched)">
            <mat-error *ngIf="userFormValues.last_name.errors.required">* Last Name is required</mat-error>
          </div>
          <br>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email" required type="text"></ion-input>
          </ion-item>
          <div class="error-div"
            *ngIf="userFormValues.email.errors && (userFormValues.email.dirty || userFormValues.email.touched)">
            <mat-error *ngIf="userFormValues.email.errors.required">* Email is required</mat-error>
            <mat-error *ngIf="userFormValues.email.errors.email">* Invalid Email</mat-error>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class="login-button" (click)="create()">Create</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
