<div class="container">
  <h1> Angular Login </h1>

  <div class="login mt-5">

    <h2 class="login-header">Log in</h2>

    <form [formGroup]="loginForm" class="login-container" (ngSubmit)="login()">

      <p [ngClass]="{ 'has-error': isSubmitted &amp;&amp; formControls.email.errors }">
        <input type="email" placeholder="Email" formControlName="email">
      </p>

      <div *ngIf="isSubmitted &amp;&amp; formControls.email.errors" class="help-block">
        <span *ngIf="formControls.email.errors.required">* Email is required</span>
        <span *ngIf="formControls.email.errors.email">* Invalid Email </span>
      </div>

      <div class="help-block"
        *ngIf="formControls.email.errors && (formControls.email.dirty || formControls.email.touched)">
        <span *ngIf="formControls.email.errors.required">* Email is required</span>
        <span *ngIf="formControls.email.errors.email">* Invalid Email</span>
      </div>

      <p [ngClass]="{ 'has-error': isSubmitted &amp;&amp; formControls.password.errors }">
        <input type="password" placeholder="Password" formControlName="password">
      </p>

      <div *ngIf="isSubmitted &amp;&amp; formControls.password.errors" class="help-block">
        <div *ngIf="formControls.password.errors.required">* Password is required</div>
      </div>

      <div class="help-block"
        *ngIf="formControls.password.errors && (formControls.password.dirty || formControls.password.touched)">
        <span *ngIf="formControls.password.errors.required">* Password is required</span>
      </div>

      <p>
        <input [disabled]="isBtnSubmitted" id="submit" type="submit" value="Log in">
      </p>

    </form>

  </div>
</div>
