<div class="outerContent">
    <div class="row pt-2">
      <div class="col-10"> <h2>User List</h2> </div>
      <div class="col-2 ">
        <button id="addBtn" mat-flat-button color="primary" (click)="openDialog()">Add User</button>
      </div>
      <div class="col-12">
        <app-users></app-users>
      </div>
    </div>
  
</div>
