.item-arrow-back {
  --background: transparent !important;
}

ion-content {
  --background: none;
  background-image: url("/assets/images/login-bg.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;

  .logo {
    width: 65%;
    margin: 0 auto;
  }

  .no-border {
    border-bottom: 0 !important;
    box-shadow: none !important;
    border-radius: 10%;
  }

  ion-row {
    align-items: center;
    text-align: center;
  }

  @media only screen and (min-width: 768px) {
    ion-col.col {
      margin: 0 auto;
      max-width: 40%;
    }
  }

  span {
    color: white;
  }

  ion-item {
    padding-left: 10px !important;
    margin-bottom: 0px;
    background-color: #f6f6f6;
    opacity: 0.7;
    font-size: 0.9em;
    --background: transparent !important;
    border-radius: 10px;
  }

  ion-list {
    background-color: transparent !important;
    margin: 0;
  }

  .login-button {
    width: 100%;
    font-size: 0.9em;
    border-radius: 10px;
  }
}


.error-div {
  padding-top: 0.5em;
  text-align: left;
}
