<ion-content>

  <ion-grid class="mt-3 pt-5">
    <form [formGroup]="loginForm">
      <ion-row>
        <ion-col size="12">
          <img class="logo" src="assets/images/login.png" />
        </ion-col>
        <ion-col size="12">
          <ion-list inset>

            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input formControlName="email" required type="email"></ion-input>
            </ion-item>
            <div class="error-div"
              *ngIf="loginFormValues.email.errors && (loginFormValues.email.dirty || loginFormValues.email.touched)">
              <span *ngIf="loginFormValues.email.errors.required">* Email is required</span>
              <span *ngIf="loginFormValues.email.errors.email">* Invalid Email</span>
            </div>

            <br>

            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input formControlName="password" required type="password"></ion-input>
            </ion-item>
            <div class="error-div"
              *ngIf="loginFormValues.password.errors && (loginFormValues.password.dirty || loginFormValues.password.touched)">
              <span *ngIf="loginFormValues.password.errors.required">* Password is required</span>
            </div>

          </ion-list>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button [disabled]="isBtnSubmitted" class="login-button" (click)="login()">Login</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
