<ion-header lines="none">
  <ion-toolbar color="primary">
    <ion-title>Dashboard</ion-title>

    <ion-buttons class="more-btn" slot="end" [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </ion-buttons>
    <mat-menu #menu="matMenu">
      <button (click)="addUsers()" mat-menu-item>
        <mat-icon>create</mat-icon>
        <span>Create</span>
      </button>
      <button  (click)="logout()" mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="mt-3">
    <h1 class="px-2">Users Details</h1>
    <ion-list class="px-2" lines="none">
      <ion-item class="card mt-3" *ngFor="let user of user_details">
        <ion-avatar slot="start">
          <img [src]="user.avatar">
        </ion-avatar>
        <ion-label>
          <span class="span">{{ user.first_name }} {{ user.last_name }}</span>
          <p>{{ user.email }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
   
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
 
</ion-content>
